<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escape Game</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/partials/header.css">
    <link rel="stylesheet" href="css/partials/footer.css">
</head>
<body> 

  <% if (typeof permission !=='undefined' && permission==1) { %>
    <%- include('partials/header', {navig: "admin" }); %>
  <% }else if(typeof permission !=='undefined' && permission==0){%>
      <%- include('partials/header', {navig: "normal" }); %>
  <% }else{ %>
      <%- include('partials/header'); %>
  <% } %>

 
  <!-- Accueil Section -->
  <section id="accueil" class="hero hide">

    <% if (typeof pseudo !== 'undefined') { %>
      <h1>Bienvenue <%= pseudo %> dans notre Escape Game</h1>
    <% }else{ %>
      <h1>Bienvenue dans notre Escape Game</h1>
    <% } %>
  
    <p>Venez tester votre esprit d'équipe et résoudre des énigmes palpitantes !</p>

  </section>

  <!-- Nos Salles Section -->
  <section id="salles" class="hide">
    <h1><a href="/salle">Notre Salle</a></h1>
    <div class="room">
      <h3>Antares</h3>
      <p>WIP</p>
    </div>
    <div class="room">
      <h2>D'autres à venir ...</h2>
    </div>
  </section>

  <!-- Réservation Section -->
  <section id="reservation" class="hide">
    <h2>Réservez votre aventure</h2>

    <a href="/reservation" id="lien_Reserv">
      <div id="form_Reserv">
          <h1 id="titreReserv">Antares (WIP)</h1>
          <button style="--content: 'Réserver';">
          <div class="left"></div>
          Réserver
          <div class="right"></div>
        </button>
      </div>
    </a>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="hide">
    <h2>Contact</h2>
    <p>Vous avez des questions ? Contactez-nous dès maintenant !</p>
    <address>
      Email: contact@escapegame.com<br>
      Téléphone: 01 01 01 01 01
    </address>
  </section>


  <%- include('partials/footer'); %>

  

  <script src="js/code.js"></script> <!-- Lien vers le fichier JS -->
</body>
</html>
